# Python cache
**/__pycache__/
*.pyc
*.pyo

frontend-desktop/.vite/
frontend-desktop/node_modules/
docker-compose.override.yml
backend/docker-compose.override.yml
.env
frontend-desktop/.env
.DS_Store
Thumbs.db
